.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus + .checkbox__label:before {
		}

		&:checked + .checkbox__label:before {
			border: 1px solid $orange-clr;
		}

		&:checked + .checkbox__label:after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: rem(10);
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: rem(2);
		}
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			position: absolute;
			width: rem(14);
			height: rem(14);
			top: rem(3);
			left: rem(3);
			border-radius: rem(2);
			background-color: $orange-clr;
		}
	}
	// .checkbox__text
	&__text {
		font-size: rem(16);
		small {
			color: $orange-clr;
		}
	}
}
